/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-heavy websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary-lightest: #aacdfb;
  --ifm-color-primary-lighter: #8ab7fb;
  --ifm-color-primary-light: #6aa1fa;
  --ifm-color-primary: #4a8cf9;
  --ifm-color-primary-dark: #2a76f8;
  --ifm-color-primary-darker: #0861f7;
  --ifm-color-primary-darkest: #054cc5;
  --ifm-code-font-size: 95%;
  --ifm-global-shadow-lw-2: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ha-background-color: #fafafa;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary-lightest: #aacdfb;
  --ifm-color-primary-lighter: #8ab7fb;
  --ifm-color-primary-light: #6aa1fa;
  --ifm-color-primary: #4a8cf9;
  --ifm-color-primary-dark: #2a76f8;
  --ifm-color-primary-darker: #0861f7;
  --ifm-color-primary-darkest: #054cc5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Version chip styles */
.navbar-version-chip {
  display: inline-flex;
  align-items: center;
  padding: 0.1rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border-radius: 9999px;
  background-color: var(--ifm-color-primary);
  color: white;
  height: 24px;
  cursor: default !important;
}

.navbar-version-chip:hover {
  color: white !important;
}

[data-theme='dark'] .navbar-version-chip {
  background-color: var(--ifm-color-primary-darker);
}
